*{
    margin: 0;
    padding: 0;
}


html,body{
    height: 100%;
}

.artigo{
    width: 100%;
    height: 100%;
    background-color: grey;
    text-align: center;
}
.artigo h1{
    color: #069;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;

}

.artigo p{
    font-size: 17px;
    font-family: 'tahoma';
    font-style: normal;
    font-weight: bold;
    margin-top: 12px;
    line-height: 20px;
    text-align: left;

}
