*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: red;
}

.w50{
    width: 50%;
    padding: 0 10px;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

.menu{
    text-align: right;
}

.banner{
    width: 100%;
    min-height: 500px;
    background-color: blue;
    text-align: center;
    padding: 90px 0;
    color: white;
}

.diferenciais{
    display: flex;
    text-align: center;
    padding: 20px 0;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: coral;
}