*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    padding: 20px 0;
}

.player-options img, .enemy-options img{
    max-width: 200px;
    opacity: 0.3;
    cursor: pointer;
}

.player-options, .enemy-options{
    width: 50%;
}

.align{
    display: flex;
}