@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: whitesmoke;
}

header{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px 0;
}

.header{
    text-shadow: red -2px 0, cyan 2px 0;
    letter-spacing: 3px;
}

.lista-cadastro{
    display: flex;
    padding: 0 20px;
}

.input{
    flex: 1;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #ccc;
    display: fixed;
    margin: 20px;
    width: 66.6%;
    outline: none;
}

.buttom{
    display: flex;
    border-radius: 5px;
    padding: 15px 50px;
    margin-top: 20px;
    height: 40px;
    background-color: black;
    color: white;
    letter-spacing: 1.5px;
    font-weight: 700;
    cursor: pointer;
    max-width: 33.3%;
    justify-content: center;
}

.buttom:hover{
    background-color: rgb(40, 40, 40);
}

.lista-produtos-single{
    padding: 10px 0;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
}

.lista-produtos-single h3{
    flex: 1;
    padding: 0 20px;
}

.price{
    text-align: right;
}

h3.price > span{
    background-color: black;
    padding: 8px 15px ;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}

.soma-produto{
    margin: 20px;
}