*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 500px;
    height: 500px;
    background-color: red;
}

@media screen and (max-width: 768){
    .box{
        width: 100%;
    }
}