<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/style.css">

    <title>Lista de tarefas | projeto 1</title>
</head>
<body>
    <header>
        <h1 class="title">lista de tarefas com Node.JS</h1>
    </header>
    <div class="tarefas">
        <form method="post">
            <input type="text" name="tarefa">
            <input type="submit" name="acao" value="Inserir">
        </form>

       <% for(let i = 0; i < tarefaslist.length; i++){ %>

        <p><%= tarefaslist[i] %><a href="/deletar/<%= i %>">X</a></p>

        <% } %>
    </div>
</body>
<footer>
    <p>Desenvolvido por Wilinton Gabriel</p>
    <p>Ultima atualização: 12/02/2023</p>
</footer>
</html>